<%= stylesheet_link_tag "registrations/signup", media: "all" %>
<div class="signup-wrapper">
  <div class="signup-box">

    <div class="signup-logo text-center">
      <%= image_tag "Veinconnect.png", alt: "Veinconnect logo", class: "logo-img" %>
    </div>

    <div class="signup-header text-center">
      <h2>Create your account</h2>
      <p>Join us and let's save lives ❤️</p>
    </div>

    <div class="signup-form-container">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, user_type: params[:user_type])) do |f| %>

        <%= f.error_notification %>

        <%= f.hidden_field :is_donor, value: (params[:user_type] == "donor") %>

        <div class="form-inputs">

          <%= f.input :first_name, autofocus: true, required: true %>
          <%= f.input :last_name, required: true %>

          <%= f.input :date_of_birth,
                      as: :date,
                      start_year: 1900,
                      end_year: Date.today.year - 18,
                      required: true %>

          <%= f.input :phone, required: true %>
          <%= f.input :address, required: true %>

          <%= f.input :blood_type,
                      collection: User::BLOOD_TYPES,
                      prompt: "Select your blood type",
                      required: true %>

          <%= f.input :email,
                      required: true,
                      input_html: { autocomplete: "email" } %>

          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>

          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>

        </div>

        <% if params[:user_type] == "donor" || resource.is_donor? %>
          <h3>Donor Information</h3>

          <% f.object.build_donor if f.object.donor.nil? %>

          <%= f.simple_fields_for :donor do |dp| %>
            <%= dp.input :last_donation_date,
                         as: :date,
                         input_html: { type: "date", max: Date.today },
                         label: "Last donation date (optional)",
                         include_blank: true %>
          <% end %>
        <% end %>

        <div class="form-actions text-center">
          <%= f.button :submit, "Sign up", class: "signup-btn" %>
        </div>

      <% end %>

      <div class="text-center mt-3">
        Already have an account?
        <%= link_to "Log in", new_user_session_path, class: "login-link" %>
      </div>

    </div>
  </div>
</div>
