<h1>Find a Donor</h1>

<!-- Search / Filter Section -->
<div class="search mb-4">
  <div class="d-flex gap-3 flex-wrap">

    <!-- Blood Type Dropdown -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="bloodTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select Blood Type
      </button>
      <ul class="dropdown-menu p-3" aria-labelledby="bloodTypeDropdown">
        <% ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"].each do |type| %>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="blood_type[]" value="<%= type %>" id="blood<%= type.gsub('+','plus').gsub('-','minus') %>">
              <label class="form-check-label" for="blood<%= type.gsub('+','plus').gsub('-','minus') %>"><%= type %></label>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Location Dropdown -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="locationDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Select Location
      </button>
      <ul class="dropdown-menu p-3" aria-labelledby="locationDropdown">
        <% ["Port Louis", "Curepipe", "Quatre Bornes", "Moka"].each do |city| %>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="location[]" value="<%= city %>" id="loc<%= city.gsub(' ','') %>">
              <label class="form-check-label" for="loc<%= city.gsub(' ','') %>"><%= city %></label>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <button type="submit" class="btn btn-primary align-self-center">Filter</button>
  </div>
</div>

<div class="donors-container d-flex flex-wrap gap-3">
  <% @donors.each do |donor| %>
    <div class="donor-card">
      <img src="<%= donor.user.avatar_url %>" />
      <div class="donor-infos">
        <h2><%= donor.user.first_name %> <%= donor.user.last_name %></h2>
        <p>
          <i class="bi bi-geo-alt"></i> <%= donor.user.address %><br>
          <i class="bi bi-droplet"></i> Blood Type: <%= donor.user.blood_type %>
        </p>
      </div>
    </div>
  <% end %>
</div>
