<ul>
  <% @facilities.each do |facility| %>
    <h5><%= facility.id %>. <strong>Name:</strong> <%= facility.name %></h5>
    <p><strong>Address:</strong> <%= facility.address %></p>
    <p><strong>Phone:</strong> <%= facility.phone_number %></p>
    <p><strong>Type:</strong> <%= facility.facility_type %></p>
  <% end %>
