<div class='patient-section'>
  <%# main content %>
  <div class='container-fluid'>

    <%# header %>
    <div class='header'>
      <div class='header-text'>
        <h2>Welcome to Veinconnect, <%= current_user.first_name %>!</h2>
        <p>A place for modern-day heroes</p>
      </div>
    </div>

    <%# Total Blood requests and active donor count %>
    <div class='cards blood-request-card'>

      <%# Active Donor count %>
      <div class='card donor-count'>
        <h3>Active Donors</h3>
        <p class='count'><%= Donor.active.count %></p>
      </div>

      <%# Blood requests count %>
      <%= link_to blood_requests_path, class: 'card-link' do %>
        <div class='card blood-request-count'>
          <h3>My Blood Requests</h3>
          <p class='count'><%= current_user.blood_requests.count %></p>
          <div class="card-arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      <% end %>
    </div>

    <%# Functionalities cards %>
    <div class='cards functionalities-cars'>

      <%# Create Blood request %>
      <%= link_to new_blood_request_path, class: 'card-link' do %>
        <div class='card'>
          <div class='card-icon'>
            <i class='fa-solid fa-plus'></i>
          </div>
          <h6><strong>Make a Blood Request</strong></h6>
          <p>Create a new blood donation request.</p>
        </div>
      <% end %>

      <%# Blood requests index %>
      <%= link_to blood_requests_path, class: 'card-link' do %>
        <div class='card'>
          <div class='card-icon'>
            <i class='fa-solid fa-database'></i>
          </div>
          <h6><strong>View Past Requests</strong></h6>
          <p>Track the status of your previous Blood Requests</p>
        </div>
      <% end %>

      <%# Donors index %>
      <%= link_to donors_path, class: 'card-link' do %>
        <div class='card'>
          <div class='d-flex'>
            <div class='card-icon'>
              <i class="fa-solid fa-list"></i>
            </div>
            <div class='card-text ms-2'>
              <h6><strong>View Donors List</strong></h6>
              <p>Browse a directory of available Donors</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%# Map for patient %>
    <div class='map'>
      <%= render partial: 'shared/map' %>
    </div>
  </div>
</div>
