<div class='patient-section'>
  <%# main content %>
  <div class='container-fluid'>

    <%# header %>
    <div class='header'>
      <div class='header-text'>
        <h2>Welcome to Veinconnect, <%= current_user.first_name %>!</h2>
        <p>A place for modern-day heroes</p>
      </div>
    </div>

    <%# Create Blood request %>
      <div class='card blood-request'>
        <div class='card-head'>
          <div class='card-icon'>
              <i class='fa-solid fa-plus'></i>
          </div>
          <div class='card-icon-text'>
            <h6><strong>Make a Blood Request</strong></h6>
          </div>
        </div>
        <p>Create a new blood donation request.</p>
        <%= link_to new_blood_request_path, class: 'btn btn-outline-danger btn-sm' do %>
          <i class="fa-solid fa-plus"></i> New Request
        <% end %>
      </div>

    <%# Total Blood requests and active donor count %>
    <div class='cards blood-request-card'>

      <%# Active Donor count %>
      <div class='card donor-count'>
        <h3>Active Donors</h3>
        <p class='count'><%= Donor.active.count %></p>
      </div>

      <%# Blood requests count %>
      <div class='card blood-request-count'>
        <h3>My Blood Requests</h3>
        <p class='count'><%= current_user.blood_requests.where(status: [:pending, :accepted]).count %></p>
        <%= link_to 'View All Requests', blood_requests_path(filter: "active"), class: 'btn btn-outline-danger btn-sm' %>
      </div>
    </div>

    <%# Functionalities cards %>
    <div class='cards functionalities-cars'>

      <%# Blood requests index %>
      <div class='card blood-request-history'>
        <div class='card-head'>
          <div class='card-icon'>
            <i class='fa-solid fa-database'></i>
          </div>
          <div class='card-icon-text'>
            <h6><strong>View Past Requests</strong></h6>
          </div>
        </div>
        <p>Track the status of your previous Blood Requests</p>
        <%= link_to 'Previous Requests' , blood_requests_path(filter: "completed"), class: 'btn btn-outline-danger btn-sm' %>
      </div>

      <%# Donors index %>
      <div class='card donors-card'>
        <div class='card-head'>
          <div class='card-icon'>
            <i class="fa-solid fa-list"></i>
          </div>
          <div class='card-icon-text'>
            <h6><strong>View Donors List</strong></h6>
          </div>
        </div>
            <p>Browse a directory of available Donors</p>
        <%= link_to 'View Donors', donors_path, class: 'btn btn-outline-danger btn-sm' %>
      </div>
    </div>

    <%# Map for patient %>
    <div class='map'>
      <%= render partial: 'shared/map' %>
    </div>
  </div>
</div>
