<li>Donor Profile ID: <%= @donation.donor_profile_id %></li>
<li>Blood Request ID: <%= @donation.blood_request_id %></li>
<li>Facility ID: <%= @donation.facility_id %></li>
<li>Status: <%= @donation.status %></li>
<li>Created: <%= @donation.created_at %></li>
<li>Updated: <%= @donation.updated_at %></li>
