<h1>Make a Blood Request </h1>
<%= simple_form_for(@blood_request) do |f| %>
  <%= f.input :blood_type %>
  <%= f.input :quantity %>
  <%= f.input :needed_by, as: :date %>
  <%= f.input :facility_name %>
  <%= f.submit %>
<% end %>
