<div style="padding: 5rem;">
  <h1>Make a Blood Request </h1>
  <%= simple_form_for(@blood_request) do |f| %>
    <%= f.input :blood_type, collection: BloodRequest::BLOOD_TYPES, prompt: "Select blood type" %>
    <%= f.input :quantity, as: :integer %>
    <%= f.input :needed_by, as: :date %>
    <%= f.input :facility_id,
                collection: Facility.all,
                label_method: :name,
                value_method: :id,
                prompt: "Select a facility" %>
    <%= f.submit %>
  <% end %>
</div>
