<div class="container-fluid">
  <div class="booking-show-container">
    <h2><%="Details of blood request"%></h2>
    <p>Blood Type: <%= @blood_request.blood_type %></p>
    <p>Status: <%= @blood_request.status.humanize %></p>
    <p>Quantity: <%= @blood_request.quantity %></p>
    <p>Needed by: <%= @blood_request.needed_by %></p>
    <p>Hospital Name: <%= @blood_request.facility&.name.presence %></p>
  </div>
</div>

<% if current_user.donor? == current_user %>
 <%= link_to "Accept Blood Request", blood_request_path(@blood_request),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>

<div class="container chat">
  <h1>Thank you for your booking for <%= @booking.vehicle.title %></h1>
  <p>Feel free to chat with the owner below</p>

  <%= turbo_stream_from "thread_Booking_#{@booking.id}_messages" %>

  <div id="messages" class="messages">
    <% @booking.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="message-form mt-3">
    <%= simple_form_for [@booking.vehicle, @booking, @message],
      html: {
        class: "d-flex gap-2",
        data: {
          controller: "reset-form",
          action: "turbo:submit-end->reset-form#reset"
        }
      } do |f| %>

      <% other_user = current_user == @booking.vehicle.user ? @booking.user : @booking.vehicle.user %>

      <%= f.input :body,
        label: false,
        placeholder: "Message #{other_user.first_name}",
        wrapper_html: { class: "flex-grow-1" } %>

      <%= f.submit "Send", class: "btn-light mb-3" %>
    <% end %>
  </div>
