<h3>Urgent Requests</h3>
<ul>
  <% @blood_requests.each do |request| %>
    <li>
      <%= link_to "Request ##{request.id}", blood_request_path(request) %> -
      <%= request.blood_type %> - Quantity: <%= request.quantity %> -
      Needed by: <%= request.needed_by %> -
      Facility: <%= request.facility&.name %> -
      Patient: <%= request.patient_name %>
    </li>
  <% end %>
</ul>
