<%= stylesheet_link_tag "registrations/signup", media: "all" %>
<div class="signup-page">
  <div class="signup-container">
    <div class="signup-header text-center">
      <%= image_tag "Veinconnect.png", class: "signup-logo", alt: "Logo" %>
      <h2>Log in</h2>
      <p class="signup-subtitle">Access your account and help save lives.</p>
    </div>

    <div class="signup-form-container">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
          <%= f.input :password, required: true, input_html: { autocomplete: "current-password" } %>
          <% if devise_mapping.rememberable? %>
            <%= f.input :remember_me, as: :boolean %>
          <% end %>
        </div>

        <div class="form-actions text-center mt-2">
          <%= f.button :submit, "Log in", class: "signup-btn" %>
        </div>

        <div class="text-center mt-2">
          <%= link_to "Forgot your password?", new_user_password_path, class: "login-link" %>
        </div>
      <% end %>

      <div class="signup-links text-center mt-3">
        <%= link_to "Don't have an account? Sign up", new_user_registration_path, class: "login-link" %>
      </div>
    </div>
  </div>
</div>
